@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", system-ui;
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
    color: white;
}
/* nav bar  */
#nav-bar{
    position: fixed;
    padding: 15px;
    width: 100%;
    z-index: 3;
    background: linear-gradient(rgba(0, 0, 0, .92) 6%, rgba(0, 0, 0, .45) 63%, rgba(0, 0, 0, 0));
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
#nav-logo{
    width: 10%;
}
#nav-links,#nav-search{
    width: 45%;
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav-links>a,#nav-search>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#search-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
#search-box>input{
    border-radius: 15px;
    visibility: hidden;
    border: 2px solid rgb(222, 115, 9);
    outline: none;
    background: transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 10px;
    font-size: 20px;
    transition: visibility 0.6s,opacity 0.6s ;
}
#search-box>span{
    color: white;
}
#search:hover{
    cursor: pointer;
}
#nav-search>button{
    background-color: rgb(222, 115, 9);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

/* image slider */
.container{
    width: 100%;
    position: relative;
}
.container>img{
    width: 100%;
    height: 500px; 
   
}
#left{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;  
}
#right{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0;  
}
.container>span{
    cursor: pointer;
    color: white;
    font-size: 40px;
    transition: 0.9s;
}
.container>span:hover{
    background-color: rgb(0,0,0,0.5);
}
/* movies  */

#trending-movies,#action-movies{
    display:flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
}
#trending-movies::-webkit-scrollbar,#action-movies::-webkit-scrollbar {
    display: none;
}
  
#grid-items{
    min-width: 150px;
    max-width: 160px;
    height: 240px;
    overflow-y: hidden;
    text-align: center;
}
#grid-items>img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
#grid-items:hover{
    transform: translateY(-13px);
    cursor: pointer;
}

