@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", system-ui;
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
    color: white;
}
/* nav bar  */
#nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background: linear-gradient(rgba(0, 0, 0, .92) 6%, rgba(0, 0, 0, .45) 63%, rgba(0, 0, 0, 0));
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}
#nav-links,#nav-search{
    display: flex;
    align-items: center;
    gap: 50px;
}
#nav-links>a,#nav-search>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#search-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
#search-box>input{
    border-radius: 15px;
    width: 0;
    display: none;
    border: 2px solid rgb(222, 115, 9);
    outline: none;
    background: transparent;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 10px;
    font-size: 20px;
}
#search-box>span{
    color: white;
}
#search:hover{
    cursor: pointer;
}
#nav-search>button{
    background-color: rgb(222, 115, 9);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

/* image slider */
.container{
    width: 100%;
    position: relative;
}
.container>img{
    width: 100%;
    height: 100%;
}
#left{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 1;  
}
#right{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0;  
}
.container>span{
    cursor: pointer;
    color: white;
    font-size: 40px;
    transition: 0.9s;
}
.container>span:hover{
    background-color: rgb(0,0,0,0.5);
}
/* movies  */
h1{
    padding-left:20px;
}
#trending-movies,#action-movies{
    display:flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px;
}
#trending-movies::-webkit-scrollbar,#action-movies::-webkit-scrollbar {
    display: none;
}
  
#grid-items{
    min-width: 150px;
    max-width: 150px;
    height: 240px;
    overflow-y: hidden;
    text-align: center;
    transition: 0.6s ease-out;
}
#grid-items>img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
#grid-items:hover{
    transform: translateY(-13px);
    cursor: pointer;
}
#movies-container>h1{
    padding-top: 30px;
}
#myVideo{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
#video{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#video div{
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.45);
}


/* CSS */

.button-34 {
margin-top: 30px;
  background: #F46714;
  border-radius: 999px;
  box-shadow: #F46714 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
#menu{
    display: none;
}
@media screen and (max-width:768px){
    #menu{
        display: block;
        position: absolute;
        left: 5%;
        top: 15px;
        font-size: 38px;
        font-weight: bold;
        cursor: pointer;
    }
    #nav{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    #search-box{
       gap:40px;
    }
    #nav-search{
        flex-direction: column;
    }
    #nav-search>button,#nav-search>a{
        display: none;
    }
    #container>img{
        height: 250px;
    }
    /* #trending-movies{
        justify-content: center;
    } */
    #nav-links,#nav-search{
        gap: 20px;
        display: none;
    }
    #nav-links.active,#nav-search.active{
        display: flex;
    }
    #grid-items{
        min-width: 100px;
        max-width: 100px;
        height: 210px;
        overflow: hidden;
        text-align: center;
        transition: 0.6s ease-out;
    }
    #grid-items>img{
        width: 100px;
        height: 150px;
        border-radius: 10px;
    }
}